/*rgba(63, 52, 52, 1) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

section {
    background-color: rgba(63, 52, 52, 1) ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: rgba(73, 62, 62, 1);
    width: 400px;
    height: 300px;
    padding: 30px;
    border-radius: 20px;
    
    
}

.header {
    width: 331px;
    margin: 0 auto;
}

.ranges {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.range-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.range {
    width: 50px;
    height: 100px;
    background-color: rgba(67, 55, 55, 1);
    position: relative;

}

.range::before{
    content: "";
    width: 100%;
    position: absolute;
    bottom:0;
}

.first::before {
    height: 40.5px;
    background: rgba(213, 99, 78, 1);
}

.second::before {
    height: 50px;
    background: rgba(213, 99, 78, 1);
}

.third::before {
    height: 23px;
    background: rgba(213, 99, 78, 1);
}

.forth::before {
    height: 19px;
    background: rgba(213, 99, 78, 1);
}

.fifth::before{
    height: 8px;
    background: rgba(213, 99, 78, 1);
}
.header h2 {
    color: 
    rgba(255, 255, 255, 1);
    font-family: "Poppins", sans-serif;
    padding: 10px 0;
}
    

span {
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255,255,1 ) ;
    font-size: 10px;
}