* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    display: flex;
    margin: 30px auto;
    max-width: 1000px;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #1E0E62;
}
nav ul li:first-child {
    opacity: 0.4;
}

.logo h2 {
    color: #1E0E62;
}
.info-text{
    width: 471px;
}
.info-text h2 {
    width: 400 px;
    font-size: 58px;
    color: #1E0E62;
}

.info-text p {
    font-size: 18px;
    color: 
    rgba(21, 20, 57, 0.4)
    ;
    margin-top: 20px;

    padding: 20px 0;
}

.info-btn {
    width: 206px;
    height: 60px;
    background-color: #1E0E62;
    color: white;
    border: none;
    border-radius: 100px;
    margin: 30px 0;
}

.img {
    width: 370px;
    height: 370px;
}

.info {
    margin: 50px auto;
}